@import './common/var.scss';
.ui-checkbox{
	.ui-checkbox-container{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		outline: none;
		white-space:nowrap;
		.ui-checkbox-real{
			position: absolute;
			outline: none;
			top:0;
			left:0;
			bottom:0;
			right:0;
			margin:0;
			z-index:-1;
			opacity: 0;
		}
        .ui-checkbox-show{
        	box-sizing:border-box;
        	width:18px;
        	height:18px;
        	border:1px solid $checkbox-default-border-color;
        	background-color: $checkbox-default-bgColor;
        	display: inline-block;
        	cursor:pointer;
        	border-radius:$checkbox-border-radius;
        }
	}
	.ui-checkbox-label{
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
	}
}
.ui-checkbox+.ui-checkbox{
	margin-left:15px;
}