@import "./common/var.scss";
.ui-input{
	position: relative;
	font-size:14px;
	width:180px;
	.ui-input-inner{
		height: 36px;
		line-height: 36px;
		display: block;
		border-radius:$input-border-radius;
		border:1px solid $input-default-border-color;
		outline: none;
		font-size:inherit;
		padding:3px 10px;
		width:100%;
		box-sizing:border-box;
		color:$input-default-color;
		&:focus{
			border-color:$input-border-focus-color;
		}
	}
	.ui-input-icon{
		color:$input-default-border-color;
		position: absolute;
        top:0;
        right:0;
        cursor:pointer;
        height:100%;
        width:36px;
        text-align: center;
	}
	.ui-input-icon:before{
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
	}
	.ui-input-icon:after{
		display: inline-block;
		content:"";
		height:100%;
		vertical-align: middle;
	}
	&.ui-input-group{
		width:100%;
		display: inline-table;
		.ui-input-inner{
			display: table-cell;
		}
		.ui-input-pre,.ui-input-post{
			display: table-cell;
			border-radius:$input-border-radius;
			border:1px solid $input-default-border-color;
			width:1%;
	       	background-color: $input-prepost-backgroud-color;
       		padding:0px 5px;
       		color:$input-prepost-color;
		}
		.ui-input-pre{
			border-bottom-right-radius:0;
			border-top-right-radius:0;
			border-right:0;
		}
		.ui-input-post{
		    border-bottom-left-radius:0;
			border-top-left-radius:0;
			border-left:0;
		}

	}
	&.ui-input-group-pre{
         .ui-input-inner{
         	border-top-left-radius:0;
         	border-bottom-left:0;
         }
	}
	&.ui-input-group-post{
		 .ui-input-inner{
         	border-top-right-radius:0;
         	border-bottom-right-radius:0;
         }
	}
}
.ui-input-icon+.ui-input-inner{
	padding-right:36px; 
}
.ui-textarea{
	width:400px;
	.ui-textarea-inner{
		outline:none;
		width:100%;
		border:1px solid $input-default-border-color;
		border-radius: $input-border-radius;
		font-size:14px;
		color:$input-default-color;
	}
	.ui-textarea-inner:focus{
		border-color:$input-border-focus-color;
	}
}