
@font-face {font-family: "Anduin iconfont";
  src: url('./src/fonts/iconfont.eot?t=1488943189191'); /* IE9*/
  src: url('./src/fonts/iconfont.eot?t=1488943189191#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./src/fonts/iconfont.woff?t=1488943189191') format('woff'), /* chrome, firefox */
  url('./src/fonts/iconfont.ttf?t=1488943189191') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./src/fonts/iconfont.svg?t=1488943189191#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="ui-icon"], [class*="ui-icon"] {
  font-family:"Anduin iconfont" !important;
  font-size:12px;
  font-style:normal;
  font-weight:400;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  vertical-align:baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before { content: "\e603"; }

.icon-iconfontriqi:before { content: "\e605"; }

.icon-add:before { content: "\e620"; }

.icon-minus:before { content: "\e622"; }

.ui-icon-arrowUp:before { content: "\e600"; }

.ui-icon-arrowDown:before { content: "\e601"; }

