/* tansition */
$zoom-transition:transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s,opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
/* color */
$default-color:#ddd;
$primary-color:#1caf9a;
$success-color:#89ad4d;
$info-color:#29b2e1;
$warning-color:#fe970a;
$danger-color:#E04B4A;
/* Border */
$border-radius-standard:4px;
$border-width-standard:1px;
$border-style-standard:solid;

/* Button*/
/* default color */
$button-default-color:#333;
$button-default-bgColor:#fff;
$button-default-border-color:#ddd;
/* Button Size*/
$button-font-size:14px;
$button-padding:10px 15px;
$button-font-size-large:16px;
$button-padding-large:11px 19px;
$button-font-size-small:12px;
$button-padding-small:7px 9px;
$button-font-size-extrasmall:12px;
$button-padding-extrasmall:4px;
/* Radio */
$radio-default-color:#333;
$radio-default-bgColor:#fff;
$radio-default-border-color:#ddd;

/* CheckBox */
$checkbox-default-color:#333;
$checkbox-default-bgColor:#fff;
$checkbox-default-border-color:#ddd;
$checkbox-border-radius:4px;
/* countInput */
$countInput-default-color:#333;
$countInput-default-border-color:#ddd;
/* Input */
$input-default-color:#333;
$input-default-bgColor:#fff;
$input-default-border-color:#b5bda9;
$input-border-radius:4px;
$input-border-focus-color:#1caf9a;
$input-prepost-backgroud-color:#fbfdff;
$input-prepost-color:#777;
$input-small-font-size:13px;
$input-mini-font-size:12px;
$input-font-size:14px;
$input-large-font-size:16px;
$input-small-height:30px;
$input-mini-height:22px;
$input-height:36px;
$input-large-height:42px;
/*Select Option*/
$option-hover-bgColor:#d5d7da;
$option-selected-bgColor:$primary-color;
$option-selected-color:#fff;
$option-font-size:14px;
$option-color:#333;
/*Option group*/
$option-group-font-size:12px;
$option-group-color:#999;
/* tag */
$tag-color:$primary-color;
$tag-border:1px solid rgba(78,227,206,0.8);
$tag-border-radius:2px;
$tag-bgColor:rgba(78,227,206,0.3);