/* color */
$default-color:#ddd;
$primary-color:#1caf9a;
$success-color:#89ad4d;
$info-color:#29b2e1;;
$warning-color:#fe970a;
$danger-color:#E04B4A;
/* Border */
$border-radius-standard:4px;
$border-width-standard:1px;
$border-style-standard:solid;

/* Button*/
/* default color */
$button-default-color:#333;
$button-default-bgColor:#fff;
$button-default-border-color:#ddd;
/* Button Size*/
$button-font-size:14px;
$button-padding:10px 15px;
$button-font-size-large:16px;
$button-padding-large:11px 19px;
$button-font-size-small:12px;
$button-padding-small:7px 9px;
$button-font-size-extrasmall:12px;
$button-padding-extrasmall:4px;
/* Radio */
$radio-default-color:#333;
$radio-default-bgColor:#fff;
$radio-default-border-color:#ddd;

/* CheckBox */
$checkbox-default-color:#333;
$checkbox-default-bgColor:#fff;
$checkbox-default-border-color:#ddd;
$checkbox-border-radius:4px;